workflows/WF_06_telegram_webhook.json
{
  "id": "sEKCOHBjEBpWt8H1",
  "meta": {
    "instanceId": "poc-gmail-automation"
  },
  "name": "WF_06 - Telegram Webhook (HITL Actions)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-actions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-tg-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-actions-poc"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PARSE TELEGRAM UPDATE\n// Accepte: callback_query (boutons) et message (commandes /)\n// ============================================================\nconst body = $json.body || $json;\n\nconst update = {\n  update_id: body.update_id,\n  callback_query: body.callback_query || null,\n  message: body.message || null\n};\n\nconst isCallback = !!update.callback_query;\nconst isCommand = !isCallback && !!update.message;\n\nlet userId, chatId, data, text, messageId;\n\nif (isCallback) {\n  userId = update.callback_query.from.id;\n  chatId = update.callback_query.message.chat.id;\n  data = update.callback_query.data;\n  messageId = update.callback_query.message.message_id;\n  text = update.callback_query.message.text || '';\n} else if (isCommand) {\n  userId = update.message.from.id;\n  chatId = update.message.chat.id;\n  data = update.message.text || '';\n  messageId = update.message.message_id;\n  text = '';\n}\n\nlet action = null;\nlet gmailMsgId = null;\n\nif (isCallback && data) {\n  const parts = data.split('|');\n  action = parts[0];\n  gmailMsgId = parts[1] || null;\n} else if (isCommand) {\n  if (data.startsWith('/status')) action = 'CMD_STATUS';\n  else if (data.startsWith('/digest')) action = 'CMD_DIGEST';\n  else if (data.startsWith('/help')) action = 'CMD_HELP';\n  else action = 'CMD_UNKNOWN';\n}\n\nreturn [{\n  json: {\n    update_id: update.update_id,\n    is_callback: isCallback,\n    is_command: isCommand,\n    user_id: userId,\n    chat_id: chatId,\n    message_id: messageId,\n    action: action,\n    gmail_message_id: gmailMsgId,\n    raw_data: data,\n    raw_body: body,\n    telegram_token: $env['TELEGRAM_BOT_TOKEN'] || '',\n    authorized_user_id: parseInt($env['TELEGRAM_AUTHORIZED_USER_ID'] || $env['TELEGRAM_CHAT_ID'] || '0'),\n    demo_mode: ($env['DEMO_MODE'] || 'true') === 'true'\n  }\n}];"
      },
      "id": "node-parse-update",
      "name": "Parse Telegram Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SECURITY — Vérifier l'identité de l'opérateur\n// ============================================================\nconst data = $json;\nconst authorizedId = data.authorized_user_id;\nconst userId = data.user_id;\n\nconst openMode = authorizedId === 0;\nconst isAuthorized = openMode || (userId === authorizedId);\n\nif (!isAuthorized) {\n  console.warn(`SECURITY: Unauthorized attempt from user_id=${userId}, expected=${authorizedId}`);\n}\nif (openMode) {\n  console.warn(`AUTH: open_mode — user_id=${userId}`);\n}\n\nreturn [{\n  json: {\n    ...data,\n    is_authorized: isAuthorized,\n    auth_open_mode: openMode\n  }\n}];"
      },
      "id": "node-auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-authorized",
              "leftValue": "={{ $json.is_authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-authorized",
      "name": "IF Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { statusCode: 200, body: 'OK' } }];"
      },
      "id": "node-unauthorized",
      "name": "Unauthorized — Silent Reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-unauth",
      "name": "Respond 200 (unauthorized)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-callback",
              "leftValue": "={{ $json.is_callback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-action-router",
      "name": "Action Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ep.*, '{{ $json.action }}' AS _action, '{{ $json.telegram_token }}' AS _telegram_token, {{ $json.chat_id || 0 }} AS _chat_id, {{ $json.user_id || 0 }} AS _user_id, '{{ $json.demo_mode }}' AS _demo_mode FROM email_processing ep WHERE ep.gmail_message_id = '{{ $json.gmail_message_id }}' LIMIT 1",
        "options": {}
      },
      "id": "node-fetch-email-record",
      "name": "Postgres — Fetch Email Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1440,
        280
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres POC"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EXECUTE ACTION — Safety check + dispatch\n// Les champs _action, _telegram_token, _chat_id, _user_id, _demo_mode\n// sont injectés par le nœud Postgres via la requête SQL.\n// ============================================================\nconst action = $json._action;\nconst demoMode = $json._demo_mode === true || $json._demo_mode === 'true';\nconst telegramToken = $json._telegram_token;\nconst chatId = parseInt($json._chat_id) || 0;\nconst userId = parseInt($json._user_id) || 0;\nconst gmailMsgId = $json.gmail_message_id;\nconst emailRecord = $json;\n\nconst blockSend = $json.block_send === true || $json.block_send === 'true';\nconst riskLevel = $json.risk_level;\nconst draftId = $json.draft_id;\n\nconst checks = {\n  APPROVE_SEND: () => {\n    if (blockSend) return { blocked: true, reason: 'block_send=true (risque élevé)' };\n    if (!draftId) return { blocked: true, reason: 'Aucun draft disponible' };\n    if (riskLevel === 'HIGH') return { blocked: true, reason: 'Email HIGH risk — envoi impossible' };\n    return { blocked: false };\n  },\n  DEFAULT: () => ({ blocked: false })\n};\n\nconst check = (checks[action] || checks.DEFAULT)();\n\nif (check.blocked) {\n  return [{\n    json: {\n      action, gmail_message_id: gmailMsgId,\n      blocked: true, block_reason: check.reason,\n      demo_mode: demoMode, telegram_token: telegramToken,\n      chat_id: chatId, user_id: userId, email_record: emailRecord\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    action, gmail_message_id: gmailMsgId,\n    thread_id: emailRecord.thread_id,\n    draft_id: draftId, draft_subject: emailRecord.draft_subject,\n    from_email: emailRecord.from_email, subject: emailRecord.subject,\n    risk_level: riskLevel, block_send: blockSend, blocked: false,\n    demo_mode: demoMode, telegram_token: telegramToken,\n    chat_id: chatId, user_id: userId,\n    operator: `operator:${userId}`,\n    email_record: emailRecord\n  }\n}];"
      },
      "id": "node-action-executor",
      "name": "Action Executor & Safety Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-blocked",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-not-blocked",
      "name": "IF Action Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1920,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GMAIL ACTIONS (DEMO mode: simulation)\n// ============================================================\nconst data = $json;\nconst demoMode = data.demo_mode;\nconst action = data.action;\nconst gmailMsgId = data.gmail_message_id;\nconst draftId = data.draft_id;\nconst telegramToken = data.telegram_token;\nconst chatId = data.chat_id;\n\nlet resultMessage = '';\nlet actionResult = 'success';\nlet gmailAction = null;\nlet updateState = action;\n\nif (demoMode) {\n  const actionMessages = {\n    APPROVE_SEND:    `✅ [DEMO] Envoi approuvé simulé — Draft: ${draftId}`,\n    SAVE_DRAFT_ONLY: `💾 [DEMO] Brouillon conservé — pas d'envoi`,\n    APPLY_LABEL:     `🏷️ [DEMO] Label appliqué simulé`,\n    ARCHIVE:         `📦 [DEMO] Archivage simulé`,\n    MARK_SPAM:       `🚫 [DEMO] Marquage spam simulé`,\n    ESCALATE:        `🔺 [DEMO] Escalade simulée`,\n    IGNORE:          `⏭️ [DEMO] Email ignoré`\n  };\n  resultMessage = actionMessages[action] || `[DEMO] Action ${action} simulée`;\n  actionResult = 'demo';\n} else {\n  const actionMap = {\n    APPROVE_SEND:    { type: 'send_draft',   labelAdd: ['Label_5892932524421666823'], labelRemove: ['INBOX'] },\n    SAVE_DRAFT_ONLY: { type: 'archive',      labelAdd: ['Label_2157285236271374757'], labelRemove: ['INBOX'] },\n    APPLY_LABEL:     { type: 'label',        labelAdd: ['Label_2157285236271374757'], labelRemove: [] },\n    ARCHIVE:         { type: 'archive',      labelAdd: ['Label_2157285236271374757'], labelRemove: ['INBOX'] },\n    MARK_SPAM:       { type: 'spam',         labelAdd: ['SPAM'],                     labelRemove: ['INBOX'] },\n    ESCALATE:        { type: 'label',        labelAdd: ['Label_7736907950711324232'], labelRemove: [] },\n    IGNORE:          { type: 'label',        labelAdd: ['Label_4210411953109202836'], labelRemove: [] }\n  };\n  gmailAction = actionMap[action] || { type: 'noop', labelAdd: [], labelRemove: [] };\n  const actionMessages = {\n    APPROVE_SEND:    `✅ Réponse envoyée`,\n    SAVE_DRAFT_ONLY: `💾 Brouillon conservé`,\n    APPLY_LABEL:     `🏷️ Label appliqué`,\n    ARCHIVE:         `📦 Email archivé`,\n    MARK_SPAM:       `🚫 Marqué comme spam`,\n    ESCALATE:        `🔺 Escaladé`,\n    IGNORE:          `⏭️ Ignoré`\n  };\n  resultMessage = actionMessages[action] || `Action ${action} exécutée`;\n}\n\nconst confirmText = `${resultMessage}\\n📧 Email: ${data.subject || gmailMsgId}`;\n\nreturn [{\n  json: {\n    ...data,\n    action_result: actionResult,\n    result_message: resultMessage,\n    gmail_action: gmailAction,\n    update_state: updateState,\n    telegram_confirm_text: confirmText,\n    telegram_confirm_url: `https://api.telegram.org/bot${telegramToken}/sendMessage`\n  }\n}];"
      },
      "id": "node-execute-gmail-action",
      "name": "Execute Gmail Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.demo_mode }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "APPROVE_SEND",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose"
        }
      },
      "id": "node-if-real-send",
      "name": "IF Real Send Draft",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/drafts/send",
        "authentication": "predefinedCredentialType",
        "options": {
          "timeout": 15000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({id: $json.draft_id}) }}",
        "nodeCredentialType": "gmailOAuth2"
      },
      "id": "node-gmail-send-draft",
      "name": "Gmail API — Send Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        120
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail POC"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.gmail_message_id }}/modify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ addLabelIds: $json.gmail_action?.labelAdd || [], removeLabelIds: $json.gmail_action?.labelRemove || [] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-gmail-apply-labels",
      "name": "Gmail — Apply Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        280
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail POC"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Remplace Merge Gmail Results (Merge v3 non supporté dans ce build n8n)\n// Récupère les données complètes depuis Execute Gmail Action\n// (action, telegram_token, chat_id, update_state, telegram_confirm_text, etc.)\nconst data = $('Execute Gmail Action').first().json;\nreturn [{ json: data }];"
      },
      "id": "node-pass-gmail-result",
      "name": "Pass Gmail Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE email_processing SET\n  state = '{{ $json.update_state }}',\n  operator_action = '{{ $json.action }}',\n  operator_telegram_id = {{ $json.user_id || 0 }},\n  operator_action_at = NOW(),\n  updated_at = NOW()\nWHERE gmail_message_id = '{{ $json.gmail_message_id }}'",
        "options": {}
      },
      "id": "node-update-db-state",
      "name": "Postgres — Update State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3120,
        200
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres POC"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (gmail_message_id, thread_id, action, actor, result, is_demo)\nVALUES (\n  '{{ $json.gmail_message_id }}',\n  '{{ $json.thread_id }}',\n  '{{ $json.action }}',\n  '{{ $json.operator }}',\n  '{{ $json.action_result }}',\n  {{ $json.demo_mode || false }}\n)",
        "options": {}
      },
      "id": "node-audit-log",
      "name": "Postgres — Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3360,
        200
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres POC"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Execute Gmail Action').first().json.telegram_confirm_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Execute Gmail Action').first().json.chat_id, text: String($('Execute Gmail Action').first().json.telegram_confirm_text || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'), parse_mode: 'HTML' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-send-confirm",
      "name": "Send Telegram Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst reason = data.block_reason || 'Action non autorisée';\nconst telegramToken = data.telegram_token;\nconst chatId = data.chat_id;\n\nconst text = `❌ *Action bloquée: ${data.action}*\\nRaison: ${reason}\\nEmail: ${data.gmail_message_id}`;\n\nreturn [{\n  json: {\n    telegram_url: `https://api.telegram.org/bot${telegramToken}/sendMessage`,\n    payload: { chat_id: chatId, text: text, parse_mode: 'Markdown' }\n  }\n}];"
      },
      "id": "node-blocked-response",
      "name": "Blocked Action Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.telegram_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-send-blocked-msg",
      "name": "Send Blocked Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst action = data.action;\nconst telegramToken = data.telegram_token;\nconst chatId = data.chat_id;\n\nlet text = '';\nif (action === 'CMD_STATUS') {\n  text = `✅ *Système opérationnel*\\nMode: ${data.demo_mode ? '🔵 DEMO' : '🟢 Production'}\\nBot actif`;\n} else if (action === 'CMD_HELP') {\n  text = `*Commandes disponibles:*\\n/status — Statut du système\\n/digest — Résumé du jour\\n/help — Cette aide\\n\\n*Actions sur emails:*\\nUtiliser les boutons dans les messages d'alerte.`;\n} else if (action === 'CMD_DIGEST') {\n  text = `📊 Demande de digest — lance WF_01 manuellement via n8n pour un digest immédiat.`;\n} else {\n  text = `Commande non reconnue: ${data.raw_data}`;\n}\n\nreturn [{\n  json: {\n    telegram_url: `https://api.telegram.org/bot${telegramToken}/sendMessage`,\n    payload: { chat_id: chatId, text: text, parse_mode: 'Markdown' }\n  }\n}];"
      },
      "id": "node-handle-commands",
      "name": "Handle Text Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.telegram_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-send-command-response",
      "name": "Send Command Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        460
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3840,
        300
      ]
    },
    {
      "parameters": {
        "content": "## WF_06 — Telegram Webhook Handler\n\n**Flux:**\n1. Recevoir update Telegram\n2. Parser callback_query ou message\n3. Vérifier l'identité\n4. Router: callback → Postgres+Action / text → Handle Commands\n5. Postgres embarque les champs Telegram dans le SELECT (SQL embed)\n6. Action Executor lit tout depuis $json (_action, _telegram_token, etc.)\n7. Execute Gmail Action (demo ou production)\n8. Pass Gmail Result (Code node — Merge v3 cassé dans ce build)\n9. Postgres Update State + Audit Log\n10. Send Telegram Confirmation\n\n**Sécurité:** TELEGRAM_AUTHORIZED_USER_ID requis.\n**Note build:** Merge v3 non fonctionnel → remplacé par Code nodes.",
        "height": 320,
        "width": 380,
        "color": 5
      },
      "id": "node-sticky-wf06",
      "name": "Documentation WF_06",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        560
      ]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Update": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "IF Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Authorized": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized — Silent Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized — Silent Reject": {
      "main": [
        [
          {
            "node": "Respond 200 (unauthorized)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Postgres — Fetch Email Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Text Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Fetch Email Record": {
      "main": [
        [
          {
            "node": "Action Executor & Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Executor & Safety Check": {
      "main": [
        [
          {
            "node": "IF Action Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Action Allowed": {
      "main": [
        [
          {
            "node": "Execute Gmail Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blocked Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Gmail Action": {
      "main": [
        [
          {
            "node": "IF Real Send Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Real Send Draft": {
      "main": [
        [
          {
            "node": "Gmail API — Send Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail — Apply Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail API — Send Draft": {
      "main": [
        [
          {
            "node": "Pass Gmail Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — Apply Labels": {
      "main": [
        [
          {
            "node": "Pass Gmail Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Gmail Result": {
      "main": [
        [
          {
            "node": "Postgres — Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Update State": {
      "main": [
        [
          {
            "node": "Postgres — Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Audit Log": {
      "main": [
        [
          {
            "node": "Send Telegram Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Confirmation": {
      "main": [
        []
      ]
    },
    "Blocked Action Response": {
      "main": [
        [
          {
            "node": "Send Blocked Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Blocked Message": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Text Commands": {
      "main": [
        [
          {
            "node": "Send Command Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Command Response": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 OK": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "versionId": "7eedd319-16f8-43ff-9676-0acb9f7a6bd5"
}